---
layout: layouts/main.njk
tags: nav
eleventyNavigation:
  key: News
  order: 2
hero:
  title: 'Latest News'
  description: 'The latest and greatest news regarding updates, changes and more. ProjT Launcher now supports viewing news directly in the Launcher by clicking the news icon at the bottom of the window.'
---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
