<div class="footer">
    <div class="container">
        {% include "edit-on-github.njk" %}
        <p>© 2026 ProjT Launcher Contributors</p>
        <div class="footer-links" style="margin-top: 10px;">
          <a href="{{ '/projtlauncher/about/#license' | url }}" style="color: #666; margin-right: 10px;">License</a>
          <a href="mailto:yongdohyun@projtlauncher.yongdohyun.org.tr" style="color: #666;">Contact Us</a>
        </div>
    </div>
</div>